<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary top30">
                <div class="panel-heading">Room: {{room}} &nbsp&nbsp&nbsp&nbsp User: {{user}}<button type="button" class="close" ui-sref="entrance"><span>&times;</span></button></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="chat-form">
                                <div ng-repeat="msg in roomMessages">
                                    <p style="color: {{msg.color}}">{{msg.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <textarea class="form-control top15" ng-model="message.message"
                                      ng-keypress="$event.which === 13 && sendMessage()"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-center">
                            <button class="btn btn-success top15" ng-click="sendMessage()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>